<%- include('../partials/header') %>
        <% books.forEach((b) => { %>
            <% if (b.favoritedBy.some(e => e.equals(user._id))) { %>
                <div>
                    <img src="<%= b.coverArt %>" alt="Cover Art">
                    <form action="/books/favorites/<%= b._id %>/?_method=DELETE" method="POST">
                        <input type="submit" value="Unfavorite">
                    </form>
                    <a id="bookLink" href="/books/<%= b._id %>"><%= b.title %></a>
                    <a id="authorLink" href="/authors/<%= b.authors[0]._id %>"><%= b.authors[0].name %></a>
                    <h3><%= b.rating %></h3>
                </div>
            <% } %>
        <% }); %> 
<%- include('../partials/footer') %>