<%- include('../partials/header') %>
<div class="row">
    <% books.forEach((b,) => { %>
        <% if (b.favoritedBy.some(e => e.equals(user._id))) { %>
        <div class="col m4">
            <div class="card medium">
                <div class="card-image">
                    <img src="<%= b.coverArt %>">
                </div>
                <div class="card-content">
                    <% if (user && b.favoritedBy.some(e => e.equals(user._id))) { %>
                        <form class="right" action="/books/favorites/<%= b._id %>/?_method=DELETE" method="POST">
                            <button class="btn-floating waves-effect waves-light" type="submit"><i class="material-icons">favorite</i></button>
                        </form>
                    <% } else { %>
                        <form class="right" action="/books/favorites/<%= b._id %>" method="POST">
                            <button class="btn-floating waves-effect waves-light" type="submit" class="right"><i class="material-icons">favorite_border</i></button>
                        </form>
                    <% } %>
                <span class="card-title"><a class="truncate" href="/books/<%= b._id %>"><%= b.title %></a></span>
                </div>
                <div class="card-action">
                    <a href="/authors/<%= b.authors[0]._id%>"><%= b.authors[0].name %></a>
                </div>
            </div>
        </div>
        <% } %>
    <% }); %> 
</div>      
<%- include('../partials/footer') %>