<%- include('../partials/header') %>
    <ul>
        <li>
        <% if (user) { %>
            <img src="<%= user.avatar %>" alt="nothing">
            <a href="/logout">Log Out</a>
        <% } else { %>
            <a href="/auth/google">Login with Google</a>
        <% } %>
        </li>
    </ul>
        <% books.forEach((b) => { %>
            <div>
                <img src="<%= b.coverArt %>" alt="Cover Art">
                <a id="bookLink" href="/books/<%= b._id %>"><%= b.title %></a>
                <a id="authorLink" href=""><%=  b.authors[0].name %></a>
                <h5><%= b.genre.join(', ') %></h4>
                <h3><%= b.rating %></h3>
                <p><%= b.synopsis %></p>
            </div>
        <% }); %> 
<%- include('../partials/footer') %>