<%- include('../partials/header') %>
        <% books.forEach((b) => { %>
            <div>
                <% if (b.favoritedBy.some(e => e.equals(user._id))) { %>
                    <form action="/books/favorites/?_method=DELETE" method="POST">
                        <input type="submit" value="Unfavorite">
                    </form>
                    <% } else { %>
                    <form action="/books/favorites" method="POST">
                        <input type="submit" value="Favorite">
                    </form>
                <% } %>
                <img src="<%= b.coverArt %>" alt="Cover Art">
                <a id="bookLink" href="/books/<%= b._id %>" Method="GET"><%= b.title %></a>
                <a id="authorLink" href="/authors/<%= b.authors[0]._id %>" Method="GET"><%= b.authors[0].name %></a>
                <h5><%= b.genre.join(', ') %></h4>
                <h3><%= b.rating %></h3>
                <p><%= b.synopsis %></p>
            </div>
        <% }); %> 
<%- include('../partials/footer') %>