<%- include('../partials/header') %>
<section>
    <img src="<%= book.coverArt %>" alt="Cover Art">
    <h2><%= book.title %></h2>
    <a id="authorLink" href=""><%= book.author %></a>
    <h5><%= book.genre.join(', ') %></h4>
    <h3><%= book.rating %></h3>
    <p><%= book.synopsis %></p>
</section>
<section>
    <form action="/books/<%= book._id%>/reviews" method="POST">
        <input type="text" name="review">
        <input type="number" name="rating" min="1" max="9" value="5">
        <input type="submit" value="Add Review">
    </form>
</section>
<section>
    <% book.reviews.forEach((r) => { %>
        <div>
            <form action="/books/<%= book._id %>/?_method=DELETE" method="POST">
                <input type="hidden" name="revId" value="<%= r._id %>">
                <input type="submit" value="X">
            </form>
            <p><%= r.review%></p>
            <h5><%= r.createdBy.name %></h5>
            <h4><%= r.rating %></h4>
            <form action="/books/<%= book._id %>/?_method=PUT" method="POST">
                <input type="text" name="review">
                <input type="number" name="rating">
                <input type="hidden" name="revId" value="<%= r._id %>">
                <input type="submit" value="Edit">
            </form>
        </div>
    <% }) %>
</section>
<%- include('../partials/footer') %>