<%- include('../partials/header') %>
<section>
    <% if (book.favoritedBy.some(e => e.equals(user._id))) { %>
        <form action="/books/favorites/<%= book._id %>/?_method=DELETE" method="POST">
            <input type="submit" value="Unfavorite">
        </form>
    <% } else { %>
        <form action="/books/favorites/<%= book._id %>" method="POST">
            <input type="submit" value="Favorite">
        </form>
    <% } %>
    <img src="<%= book.coverArt %>" alt="Cover Art">
    <h2><%= book.title %></h2>
    <a id="authorLink" href="/authors/<%= book.authors[0]._id %>"><%= book.authors[0].name %></a>
    <h5><%= book.genre.join(', ') %></h4>
    <h3><%= book.rating %></h3>
    <p><%= book.synopsis %></p>
</section>
<section>
    <form action="/books/<%= book._id%>/reviews" method="POST">
        <input type="text" name="review">
        <input type="number" name="rating" min="1" max="9" value="5">
        <input type="submit" value="Add Review">
    </form>
</section>
<section>
    <% book.reviews.forEach((r, idx) => { %>
        <div>
            <p><%= r.review%></p>
            <h5><%= r.createdBy.name %></h5>
            <h4><%= r.rating %></h4>
            <input type="button" class="edit-button" data-id="<%= idx %>" value="Edit">
            <form class="edit-form" data-id="<%= idx %>" action="/books/<%= book._id %>/?_method=PUT" method="POST">
                <input type="text" name="review">
                <input type="number" name="rating">
                <input type="hidden" name="revId" value="<%= r._id %>">
                <input type="submit" value="Submit Edit">
            </form>
            <form class="edit-form" data-id="<%= idx %>" action="/books/<%= book._id %>/?_method=DELETE" method="POST">
                <input type="hidden" name="revId" value="<%= r._id %>">
                <input type="submit" value="X">
            </form>
        </div>
    <% }) %>
</section>
<%- include('../partials/footer') %>