<%- include('../partials/header') %>
<section>
    <img src="<%= author.picture %>" alt="Cover Art">
    <h2><%= author.name %></h2>
    <h3><%= author.rating %></h3>
    <p><%= author.about %></p>
</section>
<section>
    <form action="/authors/<%= author._id%>/reviews" method="POST">
        <input type="text" name="review">
        <input type="number" name="rating" min="1" max="9" value="5">
        <input type="submit" value="Add Review">
    </form>
</section>
<section>
    <% author.reviews.forEach((r) => { %>
        <div>
            <form action="/authors/<%= author._id %>/?_method=DELETE" method="POST">
                <input type="hidden" name="revId" value="<%= r._id %>">
                <input type="submit" value="X">
            </form>
            <p><%= r.review%></p>
            <h5><%= r.createdBy.name %></h5>
            <h4><%= r.rating %></h4>
            <form action="/authors/<%= author._id %>/?_method=PUT" method="POST">
                <input type="text" name="review">
                <input type="number" name="rating">
                <input type="hidden" name="revId" value="<%= r._id %>">
                <input type="submit" value="Edit">
            </form>
        </div>
    <% }) %>
</section>
<%- include('../partials/footer') %>