<%- include('../partials/header') %>
<section>
    <div class="row">
    <div class="col l6">
        <div class="card large">
            <div class="card-image">
                <div class="parallax-container">
                    <img src="<%= author.picture %>">
                </div>
            </div>
            <div class="card-content">
                <% if (user && author.favoritedBy.some(e => e.equals(user._id))) { %>
                    <form class="right" action="/authors/favorites/<%= author._id %>/?_method=DELETE" method="POST">
                        <button class="btn-floating waves-effect waves-light" type="submit"><i class="material-icons">favorite</i></button>
                    </form>
                <% } else { %>
                    <form class="right" action="/authors/favorites/<%= author._id %>" method="POST">
                        <button class="btn-floating waves-effect waves-light" type="submit" class="right"><i class="material-icons">favorite_border</i></button>
                    </form>
                <% } %>
            <span class="card-title"><a class="truncate"><%= author.name %></a><%= rating %></span>
            <p><%= author.about %></p>
            </div>
        </div>
    </div>
    <div id="scroll" class="col l6">
        <div class="row">
            <% author.reviews.forEach((r, idx) => { %>
                <div class="col s12">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <p><%= r.rating %></p>
                    <span class="card-title"><%= r.createdBy.name %></span>
                    <p><%= r.review%></p>
                    <% if (r.createdBy.equals(user._id)) { %> 
                    <input type="button" class="btn right"  data-id="<%= idx %>" value="EDIT"></input>
                    <% } %>
                    <form class="edit-form" data-id="<%= idx %>" action="/authors/<%= author._id %>/?_method=PUT" method="POST">
                        <input class="white-text" type="text" name="review">
                        <input class="white-text" type="number" min="1" max="10" name="rating">
                        <input type="hidden" name="revId" value="<%= r._id %>">
                        <input type="submit" class="btn right" value="Submit Edit">
                    </form>
                    <form class="edit-form" data-id="<%= idx %>" action="/authors/<%= author._id %>/?_method=DELETE" method="POST">
                        <input type="hidden" name="revId" value="<%= r._id %>">
                        <input type="submit" class ="btn" value="DELETE">
                    </form>
                    </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</div>
</section>
<section class="blue-grey darken-1">
    <form class="white-text" action="/authors/<%= author._id%>/reviews" method="POST">
        <input class="white-text" type="text" name="review">
        <input class="white-text" type="number" name="rating" min="1" max="10" value="5">
        <input type="submit" class="btn right" value="Add Review">
    </form>
</section>
<%- include('../partials/footer') %>

